<nav class="navbar navbar-light bg-light">
  <nav class="container-fluid">
    <h3 class="my-0 mr-md-auto font-weight-normal" style="color: green;">SkyAppStore</h3>
    {% if user.is_authenticated %}
      <p class="display-8" style="text-align: left;">Добро пожаловать, {{user.username}}!</p>
    <nav class="ms-5">
            <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button class="p-2 btn btn-outline-dark btn-lg" type="submit">Выйти
                </button>
            </form>
        {% else %}
        <p class="display-8" style="text-align: left;">Добро пожаловать, Гость!</p>
            <nav class="ms-5">
                <a class="p-2 btn btn-warning btn-lg" href="{% url 'users:login' %}">Авторизоваться</a>
                <a class="p-2 btn btn-outline-dark btn-lg" href="{% url 'users:register' %}">Регистрация</a>
            </nav>
        {% endif %}
    </nav>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-success btn-lg" href="/">Каталог</a>
        <a class="p-2 btn btn-outline-success btn-lg" href="/contacts/">Контакты</a>
        <a class="p-2 btn btn-outline-success btn-lg" href="/blog/">Блог</a>
    </nav>
</nav>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="background: radial-gradient(ellipse at center, green, white); margin-bottom: 10px;">
    <h1 class="display-1" style="color: white;">SkyAppStore</h1>
    <p class="lead" style="color: white;">SkyAppStore - это многообразие приложений, написанных начинающими разработчиками!</p>
</div>
</nav>